Source: pop-desktop
Section: metapackages
Priority: optional
Maintainer: Jeremy Soller <jeremy@system76.com>
Uploaders: Ian Santopietro <ian@system76.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/system76/pop-desktop

Package: pop-desktop
Architecture: linux-any
Essential: yes
Depends: ${misc:Depends},
# First to avoid dependency issues
    pop-wallpapers | pop-hp-wallpapers,
    pop-session,
# Applications
    dolphin,
# Programs
    build-essential,
    curl,
    git,
# Plugins
    fonts-dejavu-core,
    fonts-freefont-ttf,
    fonts-liberation,
    ghostscript-x,
    gvfs-backends,
    gvfs-fuse,
    ibus-table,
    inputattach,
    libatk-adaptor,
    libcanberra-gtk-module,
    libegl-mesa0,
    libglib2.0-bin,
    libpam-gnome-keyring,
    libproxy1-plugin-gsettings,
    libproxy1-plugin-networkmanager,
    sound-theme-freedesktop,
# Desktop
    sddm,
    kde-plasma-desktop,
    xorg,
# Distribution
    pop-default-settings,
    pop-upgrade,
# Base
    apt-transport-https,
    avahi-autoipd,
    avahi-daemon,
    chrony,
    cryptsetup,
    dbus-user-session,
    ecryptfs-utils,
    glib-networking,
    gstreamer1.0-plugins-base-apps,
    libnss-mdns,
    net-tools,
    policykit-desktop-privileges,
    resolvconf,
    xdg-desktop-portal-kde,
    xdg-user-dirs,
    xdg-utils,
# Hardware
    acpi-support [amd64],
    alsa-base,
    bluez,
    bluez-cups,
    cups-bsd,
    cups,
    fwupd,
    fwupdate,
    gstreamer1.0-alsa,
    ifupdown,
    laptop-detect,
    libblockdev-crypto2,
    libblockdev-mdraid2,
    libvdpau-va-gl1,
    lvm2,
    mesa-va-drivers,
    mesa-vulkan-drivers,
    network-manager,
    openprinting-ppds,
    pcmciautils,
    printer-driver-all,
    rfkill,
    ubuntu-drivers-common,
    wireless-tools,
    vdpau-driver-all,
# Pipewire
    libasound2-plugins,
    libldacbt-abr2,
    libldacbt-enc2,
    libfreeaptx0,
    libspa-0.2-bluetooth,
    libspa-0.2-jack | jackd2,
    pipewire,
    pipewire-alsa,
    pipewire-jack | jackd2,
    pipewire-pulse,
    pulseaudio-utils,
    wireplumber,
# Kernel
    linux-system76 [amd64],
Recommends:
# Applications
    firefox,
    ibus-table-emoji,
    libavcodec58,
    libreoffice-calc,
    libreoffice-impress,
    libreoffice-writer,
    pop-shop,
    pop-transition,
    popsicle-gtk,
# Last to replace mime information
    ark,
    com.github.donadigo.eddy,
# Programs
    popsicle,
# Plugins
    brltty,
    fonts-noto-color-emoji,
    gstreamer1.0-vaapi,
    libreoffice-kde,
    libreoffice-ogltrans,
    network-manager-config-connectivity-pop,
    sessioninstaller,
# Desktop
    dbus-broker,
    hidpi-daemon,
    flatpak,
    system76-scheduler,
    touchegg,
Conflicts: system76-desktop, pulseaudio, pipewire-media-session
Description: Pop Desktop Metapackage

Package: pop-desktop-raspi
Architecture: arm64
Depends: ${misc:Depends},
# First to avoid dependency issues
    pop-desktop,
# Hardware
    libraspberrypi-bin,
    libraspberrypi0,
    pi-bluetooth,
    rpi-eeprom,
    u-boot-rpi,
# Kernel
    linux-firmware-raspi2,
    linux-raspi,
Description: Pop Desktop Metapackage for Raspberry Pi
