Source: pop-desktop
Section: metapackages
Priority: optional
Maintainer: Jeremy Soller <jeremy@system76.com>
Uploaders: Ian Santopietro <ian@system76.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/system76/pop-desktop

Package: pop-desktop
Architecture: all
Depends: ${misc:Depends},
# First to avoid dependency issues
    pop-wallpapers,
    pop-session,
# Applications
    baobab,
    eog,
    evince,
    gedit,
    gnome-calculator,
    gnome-calendar,
    gnome-contacts,
    gnome-control-center,
    gnome-disk-utility,
    gnome-font-viewer,
    gnome-power-manager,
    gnome-screenshot,
    gnome-system-monitor,
    gnome-terminal,
    gnome-weather,
    gucharmap,
    language-selector-gnome,
    nautilus,
    pop-gnome-initial-setup,
    pop-shop,
    popsicle-gtk,
    seahorse,
    simple-scan,
    totem,
    yelp,
# Last to replace mime information
    file-roller,
    com.github.donadigo.eddy,
# Programs
    build-essential,
    bzr,
    curl,
    git,
    popsicle,
# Plugins
    brltty,
    chrome-gnome-shell,
    fonts-dejavu-core,
    fonts-freefont-ttf,
    fonts-liberation,
    ghostscript-x,
    gnome-bluetooth,
    gnome-online-miners,
    gnome-orca,
    gnome-menus,
    gnome-themes-standard,
    gnome-video-effects,
    gvfs-backends,
    gvfs-bin,
    gvfs-fuse,
    ibus-table,
    inputattach,
    libatk-adaptor,
    libcanberra-gtk-module,
    libegl-mesa0,
    libpam-gnome-keyring,
    libproxy1-plugin-gsettings,
    libproxy1-plugin-networkmanager,
    nautilus-sendto,
    network-manager-pptp-gnome,
    sessioninstaller,
    sound-theme-freedesktop,
    vino,
# Desktop
    gdm3,
    gnome-shell,
    xorg,
# Distribution
    pop-default-settings,
# Base
    app-install-data-partner,
    apt-transport-https,
    avahi-autoipd,
    avahi-daemon,
    cryptsetup,
    dbus-user-session,
    ecryptfs-utils,
    glib-networking,
    gstreamer1.0-plugins-base-apps,
    libnss-mdns,
    net-tools,
    policykit-desktop-privileges,
    resolvconf,
    xdg-user-dirs-gtk,
    xdg-utils,
# Hardware
    acpi-support,
    alsa-base,
    bluez,
    bluez-cups,
    cups-bsd,
    cups,
    fwupd,
    fwupdate,
    gstreamer1.0-alsa,
    gstreamer1.0-vaapi,
    ifupdown,
    laptop-detect,
    libblockdev-crypto2,
    libblockdev-mdraid2,
    libvdpau-va-gl1,
    lvm2,
    mesa-vulkan-drivers,
    network-manager,
    openprinting-ppds,
    pcmciautils,
    printer-driver-all,
    pulseaudio,
    rfkill,
    ubuntu-drivers-common,
    wireless-tools,
    vdpau-driver-all,
    vdpau-va-driver,
Recommends:
# Applications
    firefox,
    geary,
    libreoffice-calc,
    libreoffice-impress,
    libreoffice-writer,
# Plugins
    fonts-noto-color-emoji,
    libreoffice-gnome,
    libreoffice-ogltrans,
    network-manager-config-connectivity-ubuntu,
# Desktop
    hidpi-daemon,
Conflicts: system76-desktop
Description: Pop Desktop Metapackage
