#!/usr/bin/make -f
# -*- makefile -*-

# # Uncomment this to turn on verbose mode.
# #export DH_VERBOSE=1
export DEB_BUILD_OPTIONS = nocheck

override_dh_auto_install:
	dh_installdebconf
	dh_auto_install

override_dh_installgsettings:
	dh_installgsettings --priority=50

%:
	dh $@
